{% extends "web/partials/base.html" %}

{% load static %}

{% block content %}


    <!-- Home slider -->
    <section class="p-0 effect-cls ">
        <div class="slide-1 home-slider">
            <div>
                <div class="home text-center p-center">
                    <img src="{% static 'web/images/vds.jpg' %}" alt="" class="bg-img blur-up lazyload">
                </div>
            </div>
            <div>
                <div class="home text-center p-center">
                    <img src="{% static 'web/images/ff.webp' %}" alt="" class="bg-img blur-up lazyload">
                </div>
            </div>
        </div>
    </section>
    <!-- Home slider end -->


    <!-- category section -->
    <section class="pb-0  banner-text-white ratio_45">
        <div class="container">
            <div class="row partition2">
                <div class="col-md-6">
                    <a href="#">
                        <div class="collection-banner p-left text-start">
                            <div class="img-part">
                                <img src="{% static 'web/images/n.jpg' %}" class="img-fluid bg-img blur-up lazyload"
                                    alt="">
                            </div>
                            <div class="contain-banner">
                                
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#">
                        <div class="collection-banner p-right text-end">
                            <div class="img-part">
                                <img src="{% static 'web/images/g.jpg' %}" class="img-fluid bg-img blur-up lazyload"
                                    alt="">
                            </div>
                            <div class="contain-banner">
                            
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- category section end -->


    <!-- Product tab slider -->
    <div class="title1  section-t-space">
        <h4>special offer</h4>
        <h2 class="title-inner1">top collection</h2>
    </div>
    <section class="game-product ratio_asos pt-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="product-para">
                        <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since the 1500s,</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="theme-tab">
                       
                        <div class="tab-content-cls">
                            <div id="tab-4" class="tab-content active default">
                                <div class=" no-slider five-product row">
                                    {% for m in gamecartfirst %}
                                    <div class="product-box">
                                        <div class="img-wrapper">
                                            <div class="front">
                                                <a href="#"><img
                                                         src="{{m.image.url}}" 
                                                        class="img-fluid bg-img blur-up lazyload" alt=""></a>
                                            </div>
                                            <div class="cart-info cart-wrap">
                                                <a href="javascript:void(0)" title="Add to Wishlist"><i class='bx bx-heart' ></i></a>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view"
                                                    title="Quick View"><i class='bx bx-cart' ></i></a>
                                                <a href="compare.html" title="Compare"><i class='bx bx-collapse-alt'></i></a>
                                            </div>
                                            <div class="add-button" data-bs-toggle="modal" data-bs-target="#addtocart">
                                                add to
                                                cart</div>
                                        </div>
                                        <div class="product-detail">
                                            
                                            <a href="product-page(no-sidebar).html">
                                                <h6>{{m.name}}</h6>
                                            </a>
                                            <h4>₹{{m.price}}</h4>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>

                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product slider end -->
<br><br><br>

    <!-- Parallax section start -->
    <section class="p-0 game-parallax effect-cls ">
        <div class="full-banner parallax text-center p-center text-center">
            <img src="{% static 'web/images/parallax/20.jpg' %}" alt="" class="bg-img blur-up lazyload">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="banner-contain">
                            <h2>2024</h2>
                            <h3>xbox games</h3>
                            <h4>special offer</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Parallax section end -->


    <!-- Paragraph-->
    <div class="title1  section-t-space">
        <h4>special offer</h4>
        <h2 class="title-inner1">top collection</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="product-para">
                    <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s,</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Paragraph end -->


    <!-- Product slider -->
    <section class="game-product pt-0 ratio_asos">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="product-slider-5 product-m no-arrow">
                        {% for o in gamecartsecond %}
                        <div class="product-box">
                            <div class="img-wrapper">
                                <div class="front">
                                    <a href="#"><img src="{{o.image.url}}"
                                            class="img-fluid bg-img blur-up lazyload" alt=""></a>
                                </div>
                                <div class="cart-info cart-wrap">
                                    <a href="javascript:void(0)" title="Add to Wishlist"><i class='bx bx-heart' ></i></a>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view"
                                        title="Quick View"><i class='bx bx-cart' ></i></a>
                                    <a href="compare.html" title="Compare"><i class='bx bx-collapse-alt'></i></a>
                                </div>
                                <div class="add-button" data-bs-toggle="modal" data-bs-target="#addtocart">add to cart
                                </div>
                            </div>
                            <div class="product-detail">
                                <a href="product-page(no-sidebar).html">
                                    <h6>{{o.name}}</h6>
                                </a>
                                <h4>₹{{o.price}}</h4>
                            </div>
                        </div>
                        {% endfor %}
                     
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product slider end -->

<br><br>

{% endblock %}